/* html{
    font-size: 63.5%;
}
/* body ======================================== */
body {
    font: 400 1.6em/1.4 sans-serif;
    margin: auto;
}

/* font ======================================== */
h2{
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}
h3 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: left;
}
/* section ======================================== */
header, section, footer{
    width: 1280px;
    margin: 0 auto;
}

section{
    width: 33.333333333333%;
    float: left;
    text-align: left;
    margin-bottom: 0.9em;
    padding: 1px;
}
#jacket{
    background-image: url('IMG_4091.JPG');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: right;
}
#helmets{
    background-image: url('IMG_4092.JPG');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: right;
}
#boots{
    background-image: url('IMG_4093.JPG');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: right;
}
a{
    background-color: #34af23;
    color: #ffffff;
}