<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 8: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <section>
        <section>
            <img src="IMG_4091.JPG">
            <h4>MOTORCYCLE</h4>
            <h3>JACKETS</h3>
            <p>We have a wide range of items of jackets. You can choice female or male. We have a wide range of colors. We carry leather and microfiber plus many more. </p>
            <button>SHOP NOW!</button>
        </section>
        <section>
            <img src="IMG_4092.JPG">
            <h4>MOTORCYCLE</h4>
            <h3>HELMETS</h3>
            <p>We have a wide range of items of helmets. You can choice female or male. We have a wide range of colors. We carry full face and or half shell plus many more. </p>
            <button>SHOP NOW!</button>
        </section>
        <section>
            <img src="IMG_4093.JPG">
            <h4>MOTORCYCLE</h4>
            <h3>BOOTS</h3>
            <p>We have a wide range of items of boots. You can choice female or male. We have a wide range of colors. We carry ankle high and or full length plus many more. </p>
            <button>SHOP NOW!</button>
        </section>
    </section>
	

	<!-- End Component -->
	
</body>
</html>