/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
body{
    width: 1280px;
    margin: 5px auto;
}
/*images======================================== */

img{
    width: 25%;
    height: 25%;
    display: block;
    float: left;
    margin: 10px 10px;
}

/* font ======================================== */

h4{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #363635;
    font-size: x-large;
}
p{
    font-size: large;
}