<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 5: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
        <ul>
            <li>
            <a href="#"><img src="painting1.png" alt="painting 1"></a>
            <p>Sed Ellusmod</p>
            <h4> Cullum dolore eu fugia</h4>
            </li>
            <li>
            <a href="#"><img src="Painting2.png" alt="painting 2"></a>
            <p>Sed Ellusmod</p>
            <h4> Duis aute irure</h4>
            </li>
            <li>
            <a href="#"><img src="Painting3.png" alt="painting 3"></a>
            <p>Sed Ellusmod</p>
            <h4> Eiusmod tempor</h4>
            </li>
            <li>
            <a href="#"><img src="painting4.png" alt="painting 4"></a>
            <p>Sed Ellusmod</p>
            <h4> Duis aute tempor</h4>
            </li>
            <li>
            <a href="#"><img src="painting5.png" alt="painting 5"></a>
            <p>Sed Ellusmod</p>
            <h4> Duis olore eu fugia</h4>
            </li>
            <li>
            <a href="#"><img src="painting%206.png" alt="painting 56"></a>
            <p>Sed Ellusmod</p>
            <h4> Cullum irure</h4>
            </li>
            </ul>

    </section>

	<!-- End Component -->
	
</body>
</html>