/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
html{
    background-color: #8F7C7D;

}

body{
    height: 960px;
    background-image: url('writer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;

}
/* Nav ======================================== */
ul {
    width: 100%;
    list-style-type: none;
    margin: 20px auto;
    padding-bottom: 50px;
    text-align: right;
    background-color: #8F7C7D;
}

li {
    display: inline;
    padding: 10px;
    margin-right: 100px;

}

a {
    font-family: "source-code-pro", Consolas, monospace;
    color: #FFFFFF;
}
/* Sidebar ======================================== */
aside{
    width:13%;
    height:900px;
    background-color: #5A4E4E;
    opacity: 0.5;
    margin-left: 20%;
    float: left;
    font-family: 'Shentox Medium', sans-serif;
    color:#ffffff;
    padding: 20px 20px;
    line-height:300%;

}

aside > a{
    color: #ffffff;
    border: 1px solid whitesmoke;
    padding: 10px 70px;
    margin: 20px auto;
    text-align: center;
}
h1 {
    font-size: 2em;

}

h3{
    font-size: 1em;
}

h5{
    font-size: .8em;
}