<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>WSP Component 7: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <aside>
        <h5>Writer<h5>
        <h3>Mark Oswald</h3>
        <h1><strong>"BLACK HORSE"</strong> </br></h1>
          <h5></h5> <em> by Mark Oswald</em></h5>
        <a href="#">More</a>
    </aside>
    <section>
        <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Books</a></li>
            <li><a href="">Home</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
    </nav>
    </section>
	<!-- End Component -->
	
</body>
</html>