<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 7: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
        <img src="writer.png" alt="background">
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Books</a></li>
            <li><a href="">Home</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
    </nav>
    <aside>
        <p>Writer</p>
        <h4>Mark Oswald</h4>
        <p><strong>"BLACK HORSE"</strong> By Mark Oswald</p>
        <button>More</button>
    </aside>
    </section>
	<!-- End Component -->
	
</body>
</html>