<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 7: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <nav>
        <ul>
            <li><a>Home</a></li>
            <li><a>About</a></li>
            <li><a>Books</a></li>
            <li><a>Home</a></li>
            <li><a>News</a></li>
            <li><a>Contacts</a></li>
        </ul>
    </nav>
    <aside>
        <p>Writer</p>
        <h4>Mark Oswald</h4>
        <p><strong>"BLACK HORSE"</strong> By Mark Oswald</p>
        <button>More</button>

    </aside>
	<!-- End Component -->
	
</body>
</html>