<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 1: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
    <h2>traditional cuisine</h2>
    <p> Our cuisine will remind you of when you were a kid sitting at the table with your family. </p>
    <p> We want you to have flashbacks to when you were a kid. We also want your family to make our place part of your traditions. We have spent years perfecting our cuisine to give you the best we can offer. If we can't give you the best then we will give you your money back. </p>
    <button> Read more</button>
</section>
	

	<!-- End Component -->
	
</body>
</html>