<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 4: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <header>
        <section><a href="#"><img src="" alt="logo"></a>
        <h1> Pilotx </h1>
        <h3> Online Store</h3>
        </section>
        <section>
        <img src=""><p><strong>CALL US NOW TOLL FREE:</strong></br>1-800-234-5677</p>
        </section>
        <section>
            <a href id="cart"><img src=""></a>
        </section>
    </header>

	<!-- End Component -->
	
</body>
</html>