<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 4: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <header>
        <a href="#"><img src="1440205316_aiga_departingflights.png" alt="logo"></a>
        <h1> Pilotx </h1>
        <h3> Online Store</h3>
        <p><img src="1440204251_phone.png">1-800-234-5677</p>
        <a href id="cart"><img src="1440205266_shop-01.png"></a>

    </header>

	<!-- End Component -->
	
</body>
</html>