<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 3: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <header>
        <img src="logo.png" alt="logo" style="width: 300px; height: 100px">
        <form>
            <input type="text" value="">
            <button>Search</button>
        </form>
        <ul id="memberLogin">
            <li><a href="#"><img src="" alt="member"> Create an account</a></li>
            <li><a href="#"><img src="" alt="login">Login</a></li>
            <li><a href="#"><img src="" alt="cart">Check Out</a></li>
        </ul>
        <p> Shopping Cart: </p>
    </header>
    <aside>
        <ul>
            <li><a href="#">Collections</a></li>
        </ul>
    </aside>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Sale</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>

	<!-- End Component -->
	
</body>
</html>