<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 3: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <header>
        <img src="" alt="logo">
        <input type="text" value="">
        <button>Search</button>
        <ul>
            <li> Create an account</li>
            <li> Login</li>
            <li> Check Out</li>
        </ul>
        <p> Shopping Cart: </p>
    </header>
	<nav>
        <ul>
            <li>Home</li>
            <li>Products</li>
            <li>Blog</li>
            <li>Sale</li>
            <li>About Us</li>
            <li>Contact Us</li>
        </ul>
    </nav>

	<!-- End Component -->
	
</body>
</html>