<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 3: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <header>
        <img src="logo.png" alt="logo">
        <img src="squares.png"><input type="text" value="">
        <button>Search</button>
        <ul>
            <li><a href=""><img src="icon.png"> an account</a></li>
            <li><a href=""><img src="icon2.png">Login</a></li>
            <li><a href=""><img src="icon3.png">Check Out</a></li>
        </ul>
        <p> Shopping Cart: </p>
    </header>
	<nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Sale</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </nav>

	<!-- End Component -->
	
</body>
</html>