<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 2: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
    <img src="logo.png" alt="logo">
    <h3> HORSE BREEDS</h3>
    <p>Claritas est estiam proc</p>
    <ul>
        <li><a href=""><img src="profile1.png" alt="profile 1"></a></li>
        <li><a href=""><img src="profile2.png" alt="profile 2"></a></li>
        <li><a href=""><img src="profile3.png" alt="profile 3"></a></li>
        <li><a href=""><img src="profile4.png" alt="profile 4"></a></li>
        <li><a href=""><img src="profile5.png" alt="profile 5"></a></li>
        <li><a href=""><img src="profile6.png" alt="profile 6"></a></li>
    </ul>
</section>
	
    <!-- End Component -->
	
</body>
</html>