/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* body ======================================== */
body{
    width: 960px;
    margin: auto;


}
/* font ======================================== */
h3{
    font-size: 20px;
    text-align: center;
}
em{
    color: orangered;
    font-weight: bold;
}
/* images ======================================== */

img{
    width: 25%;
    height: 25%;

}
/* section ======================================== */
article{
    float: left;
    background: #444444;
}
