/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
html{
    font-size: 63.5%;
}
/* body ======================================== */
body{
    font: 400 1.6em/1.4 sans-serif;
    margin: auto;
}

/* font ======================================== */
h3{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}
em{
    color: orangered;
    font-weight: bold;
    margin: auto;
}
/* images ======================================== */

img{
    width: 100%;
    height: 100%;

}
/* section ======================================== */
header, section, footer{
    width: 960px;
    margin: 0 auto;

}

article{
    width: 25%;
    float: left;
    text-align: center;
    padding: 0.5em;
}
