<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 6: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section>
    <h3>Featured Products</h3>
    <section id="items">
        <article>
        <a href="#"><img src="pet1.png" alt="fish bowl round"></a>
        <p><em>New</em></p>
        <p>BiOrb Aquarium Kits with Light</p>
        <p>WE ARE ALL USED TO THE FACT ...</p>
    </article>
    <article>
        <a href="#"><img src="pet2.png" alt="fish bowl square"></a>
        <p><em>New</em></p>
        <p>Cleo pet DOG NAPPER</p>
        <p>IT IS NATURAL BECAUSE OFTEN ...</p>
    </article>
    <article>
        <a href="#"><img src="pet3.png" alt="Cat Bed"></a>
        <p><em>New</em></p>
        <p>Drinkwell Platium Pet Foam Bed</p>
        <p>OUR CONNECTION WITH ANIMALS ...</p>
    </article>
    <article>
        <a href="#"><img src="pet4.png" alt="Orange Pet bed"></a>
        <p><em>New</em></p>
        <p>Exo Terra Desert Kit</p>
        <p>AS WE KNOW THEY CAN"T TALK ...</p>
    </article>
</section>
</section>
	<!-- End Component -->
	
</body>
</html>