<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 9: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<footer>
    <h2>GET IN TOUCH WITH US</h2>
    <section>
        <img src="icon.png" alt="location">
        <h3>Address</h3>
        <p> 4578 Marmaora Road <br>
            Glasgow, D04 89GR</p>
    </section>
    <section>
        <img src="icon3.png" alt="email">
        <h3>Email</h3>
        <p>mail@demolink.org</p>
    </section>
    <section>
        <img src="icon2.png" alt="phone">
        <h3>Phone:</h3>
        <p> +1 800 559 6580<br>
        +1 800 603 6035</p>
    </section>
    <section>
        <img src="icon4.png" alt="open">
        <h3>We are open:</h3>
        <p>Mn - Fr: 10AM - 8PM</p>
    </section>
</footer>
	

	<!-- End Component -->
	
</body>
</html>