<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 9: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<footer>
    <h2>GET IN TOUCH WITH US</h2>
    <img src="icon.png">
    <h3>Address</h3>
    <p> 4578 Marmaora Road <br>
        Glasgow, D04 89GR</p>
    <img src="icon3.png">
    <h3>Email</h3>
    <p>mail@demolink.org</p>
    <img src="icon2.png">
    <h3>Phone:</h3>
    <p> +1 800 559 6580<br>
        +1 800 603 6035</p>
    <img src="icon4.png">
    <h3>We are open:</h3>
    <p>Mn - Fr: 10AM - 8PM</p>
</footer>
	

	<!-- End Component -->
	
</body>
</html>