/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
html{
    font-size: 63.5%;
}
/* body ======================================== */
body{
    width: 960px;
    font: 400 1.6em/1.4 sans-serif;
    margin: 10px auto;
}
footer{
    display: block;
}

/* font ======================================== */
h2{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 2rem;
    text-align: center;
}
h3{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: left;
    color: #008000;
    margin-top:3rem;
}
/* images ======================================== */

section {
    width: 50%;
    color: #333333;
    font-size: 20px;
    float: left;
    margin: 10px auto;
}
img {
    width: 150px;
    height: 150px;
    float: left;
}
