<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 10: Alana Keay</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

<footer>
    <ul>
        <li><a href="">SEARCH</a></li>
        <li><a href="">ABOUT US</a></li>
        <li><a href="">BLOG</a></li>
        <li><a href="">CONTACT US</a></li>
        <li><a href="">BIRDS</a></li>
        <li><a href="">CAT</a></li>
        <li><a href="">DOGS</a></li>
        <li><a href="">FISH</a></li>
        <li><a href="">MY ACCOUNT</a></li>
        <li><a href="">MY ADDRESSES</a></li>
        <li><a href="">MY CART</a></li>
    </ul>
    <aside>
        <h4>Contacts</h4>
        <p>4578 MARMORA ROAD, GLASGOW D04 <br>
        89GR</p>
        <p><em>1(234)567-8910</em></p>
    </aside>
    <p id="copyrights">© 2015 PET STORE. ALL RIGHTS RESERVED. DESIGN BY<em> TEMPLATEMONSTER.COM. POWERED BY SHOPIFY.</em></p>

</footer>

	<!-- End Component -->
	
</body>
</html>